# Eclipse, ctags, Mac metadata, log files
.classpath
.project
.settings
tags
*.log
*.orig

# IntelliJ
.gradle
.idea
**/build/
**/out/
**/logs/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.gradle/
/.idea/
/out/
